# required pip packages

# web framework
# stick to django 4.2 for now
django>=4.2,<4.3

# PostgreSQL database access
psycopg

# update check
pip-review

# python code coverage measurement and reporting
coverage

# django database access analysis for performance / efficient queries
django-debug-toolbar

# end of file
